@font-face {
	font-family: 'Formular';
	src: url('../fonts/Formular/Formular.eot');
	src: url('../fonts/Formular/Formular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Formular/Formular.woff2') format('woff2'),
		url('../fonts/Formular/Formular.woff') format('woff'),
		url('../fonts/Formular/Formular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TT Firs Neue';
	src: url('../fonts/TT-Firs-Neue/TTFirsNeue-Regular.eot');
	src: url('../fonts/TT-Firs-Neue/TTFirsNeue-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/TT-Firs-Neue/TTFirsNeue-Regular.woff2') format('woff2'),
		url('../fonts/TT-Firs-Neue/TTFirsNeue-Regular.woff') format('woff'),
		url('../fonts/TT-Firs-Neue/TTFirsNeue-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}